header {
  display: flex;
  padding: 1rem calc(38rem / 16);
  flex-basis: calc(90rem / 16);
  flex-shrink: 0;
  background-color: var(--bg-lightest);
  justify-content: space-between;

  & .logo {
    height: calc(40rem / 16);
    align-self: center;
  }

  & address {
    display: flex;
    align-items: center;
    font-style: normal;
    a {
      display: flex;
      align-items: center;
      gap: .7rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  background: var(--bg-main);
  flex-grow: 1;
  align-items: center;
  padding-top: calc(58rem / 16);
  padding-left: calc(35rem / 16);
  padding-right: calc(35rem / 16);
  overflow: hidden;
}